h1 {
    color: rgb(15, 115, 158);
    font-size: 30;
}

h2 {
    color: violet ;
    font-size: 25;
}

h3 {
    color: blue;
    font-size: 20;
}

p {
    color: rgb(74, 12, 189);
    font-size: 18px;
}

ol{
    color: rgb(193, 83, 221);
}

ul{
color: rgb(40, 138, 224);
}

dl{
    color: brown;
}

table{
    color: rgb(250, 144, 5);
}

.highlight{
    background-color: rgb(130, 245, 255);
    color: black;
}


/* id*/
#header{
    font-size: 20px;
    text-align: center;
    justify-content: center;
    color: blueviolet;
    height: 30px;
}

input[type="text"]{
    border: 2px solid rgb(88, 163, 163);
    border-radius: 9px;
    padding: 4px;
}
button{
    color: rgb(197, 20, 0);
    border-radius: 5px;
    border: none;
    background-color:azure ;
    cursor: pointer;
}

label{
    color: rgb(31, 31, 31);
}

h4{
    color: pink;
    font-size: 18px;
}

h6{
    color: brown;
    font-size: 13px;
}
.icon_smile{
    width: 20px;
    color: brown;
}

header{
    text-align: center;
    width: 600px;
    height: 120px;
    padding: 20px;
    margin: 15px;
    border: 2px solid purple;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #fce9e9
}
ul{
    text-align: center;
    width: 600px;
    height: 90px;
    padding: 9px;
    margin: 50px -20px;
    border: 2px solid purple;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #fce9e9
}

li{
    justify-content: center;
}
main{
    text-align: center;
    width: 300px;
    height: 300px;
    padding: 9px;
    margin: 130px 20px;
    border: 2px solid purple;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #fce9e9
}
section #inicio{
    text-align: center;
    width: 300px;
    height: 100px;
    padding: 20px;
    margin: 15px;
    border: 2px solid purple;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #fce9e9
}
aside{
    text-align: center;
    width: 200px;
    height: 300px;
    padding: 15px;
    margin: -200px 380px;
    border: 2px solid purple;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #fce9e9
}
footer{
    text-align: center;
    width: 600px;
    height: 120px;
    padding: 20px;
    margin: 15px;
    border: 2px solid purple;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #fce9e9
}

