/* index */
h1 {
    color: rgb(15, 115, 158);
    font-size: 30;
}

h2 {
    color: violet ;
    font-size: 25;
}

h3 {
    color: blue;
    font-size: 20;
}

p{
    color: rgb(74, 12, 189);
    font-size: 18px;
    text-align: center;
}

.elemento{
    color: rgb(193, 83, 221);
    height: 150px;
    margin: 30px 0px;
    padding: 14px;
    
}

.elemento1{
    color: rgb(40, 138, 224);
    height: 150px;
    margin: 30px 0px;
    padding: 14px;

}

dl{
    color: brown;
}

table{
    color: rgb(250, 144, 5);
}
#parrafo{
    color: rgb(43, 0, 255);
    border: 10px solid rgb(255, 192, 192);
    border-radius: 10px;
    box-shadow: 10px 10px 5px red;
    
}

/* Selectores */

.highlight{
    background-color: rgb(130, 245, 255);
    color: black;
}

/* formulario */

#header{
    /* id*/
    font-size: 20px;
    text-align: center;
    justify-content: center;
    color: blueviolet;
    height: 30px;
}

input[type="text"]{
    border: 2px solid rgb(88, 163, 163);
    border-radius: 9px;
    padding: 4px;
}
button{
    color: rgb(197, 20, 0);
    border-radius: 5px;
    border: none;
    background-color:azure ;
    cursor: pointer;
}

label{
    color: rgb(31, 31, 31);
}

/* h4{
    color: pink;
    font-size: 18px;
}

h6{
    color: brown;
    font-size: 13px;
} */

/* etiquetas semanticas */

h1{
    color: rgb(15, 115, 158);
    font-size: 30px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#header{
    width: 600px;
    height: 120px;
    padding: 20px;
    margin: 15px;
}

ul{
    text-align: center;
    font-size: 17px;
    height: 100px;
    padding: 10px;
    margin: 40px 20px;
}

li{
    align-content: center;
    height: 28px;
    margin: 0px 650px;
}

main{
    text-align: center;
    width: 900px;
    height: 270px;
    padding: 9px;
    margin: 0 5px;
}
article{
    height: 100px;
    padding: 5px;
    margin: 10px 20px;
    border: 2px solid purple;
    box-sizing: border-box;
    border-radius: 5px;
}
aside{
    text-align: center;
    width: 550px;
    height: 270px;
    padding: 15px;
    margin: -245px 900px;
}
footer{
    text-align: center;
    width: 600px;
    height: 120px;
    padding: 20px;
    margin: 30px 500px;
    
}
.icon_smile{
    width: 20px;
    color: brown;
}



/* multimedia */
.tarta{
    position: relative;
    width: 400px;
    height: 300px;
    border-radius: 10px;
    
    
}
.mysql{
    position: relative;
    display: inline;
    width: 400px;
    height: 300px;
    border-radius: 10px;
    
}
.cancion{
    position:static;
    width: 300px;
    height: 55px;
    border-radius: 10px;

}




/* flexbox */

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    background-color: #96fff4;
    padding: 80px;
    height: 0px;
    font-size: 20px;
    font-weight: bold;
    
}
.header_title{
    margin: -4%;
}


.nadvar1{
    background-color: #fea1a1;
    text-align: center;
    justify-content: center;
    padding: 10px;
    width: 70%;




}


.container{
    display: flex;
    justify-content: center;
    list-style: 15px;
    width: 100%;

}

.content{
    flex: 3;
    padding: 20px;
    background-color: #88269e;
    margin-right: 20px;


}



.sidebar{
    flex: 1;
    flex-direction: column;
    display: block;
    text-align: center;
    padding: 20px;
    margin: 10px 0;
    background-color: #fa9d7c;
    border-radius: 10px;
}

.section1{
    margin-bottom: 20px;
    background-color: rgb(181, 250, 187);
    padding: 10px;
    border-radius: 13px;
}

.section2{
    margin-bottom: 20px;
    background-color: rgb(141, 228, 236);
    padding: 10px;
    border-radius: 13px;
}

.footer1{
    grid-row: 4;
    background-color: #f8e8f8;
    text-align: center;
    padding: 1em;
}


